pipeline/ODS_runProcs.json
{
	"name": "ODS_runProcs",
	"properties": {
		"activities": [
			{
				"name": "Set variable BatchId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchId",
					"value": {
						"value": "@if(equals(pipeline().parameters.BatchId, 'RunALL'), pipeline().RunId,pipeline().parameters.BatchId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log Package Start",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable BatchId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderStoredProcedureName": "[Configuration].[uspPackage_log]",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "String",
								"value": {
									"value": "@variables('BatchId')",
									"type": "Expression"
								}
							},
							"details": {
								"type": "String",
								"value": null
							},
							"detailsXml": {
								"type": "String",
								"value": null
							},
							"id": {
								"type": "Int64",
								"value": "0"
							},
							"package_id": {
								"type": "Int64",
								"value": "0"
							},
							"package_name": {
								"type": "String",
								"value": {
									"value": "@concat(pipeline().DataFactory,'_',pipeline().Pipeline, '_',pipeline().parameters.Object)",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": null
							},
							"user_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Job",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					}
				}
			},
			{
				"name": "Set Package Id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Log Package Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PackageId",
					"value": {
						"value": "@string(activity('Log Package Start').output.firstRow.id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log Package End Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Procs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Configuration].[uspPackage_log]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.BatchId",
								"type": "Expression"
							},
							"type": "String"
						},
						"details": {
							"value": null,
							"type": "String"
						},
						"detailsXml": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": null,
							"type": "Int64"
						},
						"package_id": {
							"value": {
								"value": "@variables('PackageId')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"package_name": {
							"value": {
								"value": "@concat(pipeline().DataFactory,'_',pipeline().Pipeline)",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Success",
							"type": "String"
						},
						"user_name": {
							"value": "ADF USER",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Log Package End Error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Package End Success",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Configuration].[uspPackage_log]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.BatchId",
								"type": "Expression"
							},
							"type": "String"
						},
						"details": {
							"value": "-1",
							"type": "String"
						},
						"detailsXml": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": "0",
							"type": "Int64"
						},
						"package_id": {
							"value": {
								"value": "@variables('PackageId')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"package_name": {
							"value": {
								"value": "@concat(pipeline().DataFactory,'_',pipeline().Pipeline)",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Failed",
							"type": "String"
						},
						"user_name": {
							"value": "ADF USER",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Log Package End Error",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@concat('Error execution Pipeline ', pipeline().Pipeline)",
						"type": "Expression"
					},
					"errorCode": "200"
				}
			},
			{
				"name": "Log Error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Procs",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Configuration].[uspLogError]",
					"storedProcedureParameters": {
						"Batchid": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"error": {
							"value": {
								"value": "@activity('Run Procs').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PackageId": {
							"value": {
								"value": "@variables('PackageId')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"PackageName": {
							"value": {
								"value": "@concat(pipeline().DataFactory,'_',pipeline().Pipeline, '_',pipeline().parameters.Object)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Run Procs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Package Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.Object",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"Job": {
							"value": {
								"value": "@pipeline().parameters.Job",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			}
		],
		"parameters": {
			"Process": {
				"type": "string",
				"defaultValue": "ODS"
			},
			"BatchId": {
				"type": "string",
				"defaultValue": "RunALL"
			},
			"Job": {
				"type": "string",
				"defaultValue": "Finance"
			},
			"Object": {
				"type": "string"
			}
		},
		"variables": {
			"PackageId": {
				"type": "String"
			},
			"BatchId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ODS"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-01T10:19:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}